<div class="drills m-0">
  <h2 class="display-1 text-center m-0">
    DESiGN <span class="text-danger">DRILLS</span>
  </h2>
  <div class="parent">
    <div class="wrapper m-3">
      <div class="form-wrapper sign-up">
        <form action="" class="text-center">
          <h3>Sign Up</h3>
          <div class="input-group text-center">
            <input class="text-center mx-auto" type="text" required />
            <label for="">Username</label>
          </div>
          <div class="input-group text-center">
            <input class="text-center mx-auto" type="email" required />
            <label for="">Email</label>
          </div>
          <div class="input-group text-center">
            <input class="text-center mx-auto" type="password" required />
            <label for="">Password</label>
          </div>
          <button type="submit" class="btn">Sign Up</button>
          <div class="sign-link">
            <p>
              Already have an account?
              <a href="#" class="signIn-link">Sign In</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
