<div class="drills m-0">
  <h2 class="text-center m-0">
    FREE <span class="text-danger">SESSIONS</span>
  </h2>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 row">
      <div class="col-md-4 p-3 m-0 text-center">
        <img src="images/drills.png" alt="" class="img-fluid m-0" />
      </div>
      <div class="col-md-8 p-3 p-md-5">
        <div class="p-3 pt-0">
          <p class="join">
            Join the whatsapp community of fellow designers to access the link
            and have fun with us. See other designers live at work online and
            share knowledge and design resources.
          </p>
          <h4 class="text-whatsapp">
            <table class="table">
              <tr>
                <td class="text-dark">Date :</td>
                <td>Every Tuesday</td>
              </tr>
              <tr>
                <td class="text-dark">Time :</td>
                <td>8:15PM-8:35PM</td>
              </tr>
              <tr>
                <td class="text-dark">Venue :</td>
                <td>Zoom/ Google meet</td>
              </tr>
              <tr>
                <td class="text-dark">Software :</td>
                <td>Your choice</td>
              </tr>
            </table>
          </h4>
          <p class="text-center mx-auto my-auto">
            <button class="btn btn-lg btn-whatsapp" (click)="whatsappme()">
              <i class="me-1 bi bi-whatsapp"></i> Join Whatsapp Group
            </button>
          </p>
        </div>
        <form class="d-none">
          <div class="input-group">
            <h4 class="my-0 fw-bold mx-auto selectedcourse text-center">
              Sign up Free to join
            </h4>
          </div>
          <div class="input-group">
            <input type="text" placeholder="Your Name" required name="name" />
            <div
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="text-danger mx-auto">
              Name is required.
            </div>
          </div>
          <div class="input-group">
            <input type="text" name="country" placeholder="Country" required />
            <div
              *ngIf="country.invalid && (country.dirty || country.touched)"
              class="text-danger mx-auto">
              Country is required.
            </div>
          </div>
          <div class="input-group">
            <input
              type="text"
              placeholder="Phone/ Whatsapp No."
              required
              name="phone" />
            <div
              *ngIf="phone.invalid && (phone.dirty || phone.touched)"
              class="text-danger mx-auto">
              Phone is required.
            </div>
          </div>
          <div class="input-group">
            <input type="email" name="email" placeholder="Email" required />
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="text-danger mx-auto">
              Enter a valid email.
            </div>
          </div>
          <div class="input-group text-center"></div>

          <p class="text-center">
            <button type="submit" class="btn btn-danger px-5">
              Submit Application
            </button>
          </p>
        </form>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
