<div class="drills m-0">
  <h2 class="text-center m-0">
    FREE <span class="text-danger">SESSIONS</span>
  </h2>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 row">
      <div class="col-md-4 p-3 m-0 text-center">
        <img src="images/drills.png" alt="" class="img-fluid m-0" />
      </div>
      <div class="col-md-8 p-3 p-md-5">
        <div class="p-3 pt-0">
          <p class="join">
            Join the whatsapp community of fellow designers to access the link
            and have fun with us. See other designers live at work online and
            share knowledge and design resources.
          </p>
          <h4 class="text-whatsapp">
            <table class="table">
              <tr>
                <td class="text-dark">Date :</td>
                <td>Every Tuesday</td>
              </tr>
              <tr>
                <td class="text-dark">Time :</td>
                <td>8:15PM-8:35PM</td>
              </tr>
              <tr>
                <td class="text-dark">Venue :</td>
                <td>Zoom/ Google meet</td>
              </tr>
              <tr>
                <td class="text-dark">Software :</td>
                <td>Your choice</td>
              </tr>
            </table>
          </h4>
          <p class="text-center mx-auto my-auto">
            <button class="btn btn-lg btn-whatsapp" (click)="whatsappme()">
              <i class="me-1 bi bi-whatsapp"></i> Join Whatsapp Group
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
