<div class="m-0 p-0">
  <div class="m-0">
    <div class="container-fluid bg-light text-center px-4 py-2">
      <div class="row align-items-center py-5">
        <div class="container-fluid text-center text-lg-start">
          <h2 class="display-1 fw-bold lh-1 text-center text-dark">
            e-Receipt <span class="text-danger"> Maker </span>
          </h2>
        </div>
      </div>
    </div>

    <div class="container-fluid row bg-black text-center px-4 py-5">
      <div class="col-md-6">
        <p class="text-center">
          <img src="images/1.png" class="img-fluid" alt="" srcset="" />
        </p>
      </div>
      <div class="col-md-6">
        <div class="my-1">
          <h1 class="fw-bold text-danger mt-5 text-left">What the App does</h1>

          <p class="p-3 text-left text-white">
            This app helps a business to track its sales by recording details of
            every receipt created, in an online Google sheet. This means to
            create a receipt one requires internet connection. This has
            advantages over time:
          </p>
          <h3 class="h4 text-left p-3">
            <ul class="ul list-unstyled">
              <li class="text-danger"><h1>BENEFITS</h1></li>
              <li class="text-white">
                <i class="bi bi-check text-danger"></i> Build your client
                database gradually
              </li>
              <li class="text-white">
                <i class="bi bi-check text-danger"></i> Reliably track your
                revenue
                <span class="p text-danger">
                  ----- Even without your employees knowing</span
                >
              </li>
              <li class="text-white">
                <i class="bi bi-check text-danger"></i>
                No more need for receipt books
              </li>
              <li class="text-white">
                <i class="bi bi-check text-danger"></i>
                Save Money
                <span class="p text-danger"> ----- buy once, use forever</span>
              </li>
            </ul>
          </h3>
          <h4 class="text-left d-none">
            <a
              target="_blank"
              href="https://youtu.be/6f32IqpDjbs"
              class="col-md-6 btn btn-danger"
            >
              Watch Video Tutorial <i class="bi bi-youtube"></i
            ></a>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 my-5">
        <app-apppricing></app-apppricing>
      </div>

      <div class="col-md-2"></div>
    </div>
  </div>
</div>
