<div class="m-0 p-0">
  <div class="m-0">
    <div class="container-fluid bg-black text-center px-4 py-5">
      <div class="row align-items-center py-5">
        <div class="container-fluid text-center text-lg-start">
          <h2 class="display-1 fw-bold lh-1 text-center text-light mb-3">
            Bulk <span class="text-danger">CARD </span>
            <span class="text-secondary">GENERATOR </span>
          </h2>
          <p class="text-center text-light">
            - custom invite hundreds to thousands of guests /minute-
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid row bg-white text-center px-4 py-5">
      <div class="col-md-6">
        <h1 class="fw-bold text-secondary mt-5 text-center">FREE SOFTWARE</h1>
        <h2 class="windows-icon text-center m-0 p-0">
          <i class="bi bi-windows"> </i>
        </h2>
        <h4 class="text-center">
          <a (click)="getFree()" class="col-md-6 btn btn-primary">
            Download <i class="bi bi-arrow-down"></i
          ></a>
        </h4>
      </div>
      <div class="col-md-6">
        <app-cardpricing></app-cardpricing>
      </div>
    </div>

    <h2 class="py-3 text-center text-success">
      Create your own customized cards like these...
    </h2>
    <div class="row">
      <div class="col-md-4">
        <div class="m-3">
          <img src="images/cards/bg2.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="m-3">
          <img src="images/cards/bg3.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="m-3">
          <img src="images/cards/bg.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 my-5">
        <h1 class="fw-bold text-danger mt-5 text-center">HOW TO USE</h1>
        <p class="text-center">
          <img
            src="images/splash.png"
            class="col-md-6 img-fluid"
            alt=""
            srcset=""
          />
        </p>
        <p class="p-3 text-left">
          This software enables you to customize invitation cards. It types
          recipients' names on a card designed by you. Just leave space for the
          names and create a CSV (Comma Separated Value) files using MS Excel or
          a text editor like notepad. For Notepad or Notes Apps, Just make sure
          the names are separated using commas, then save it with a file
          extension .csv after the file name, e.g. NamesList.csv -Lastly, when
          pasting the file path, remove the "", let the path just be like
          C:\Users\dell\Documents\CARD\page1.jpg
        </p>
        <h4 class="text-center">
          <a
            href="https://youtu.be/6f32IqpDjbs"
            class="col-md-6 btn btn-danger"
          >
            Watch Video Tutorial <i class="bi bi-youtube"></i
          ></a>
        </h4>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
