<div class="text-danger text-center py-5 bg-black text-light">
  <h1>
    <span class="text-light">{{ typingText }}</span>
  </h1>
</div>
<!----------<h4 class="text-center p-3 bg-danger text-light"></h4>---------->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="p-3">
        <a (click)="navigateToAcademy()">
          <p class="text-center product">
            <a (click)="navigateToAcademy()" class="btn btn-lg"
              ><i class="bi bi-mortarboard-fill"></i><br />
              ACADEMY</a
            ><br />

            <a (click)="navigateToAcademy()" class="btn-dark btn">
              See Courses
            </a>
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3">
        <a (click)="navigateToSms()">
          <p class="text-center product">
            <a (click)="navigateToSms()" class="btn btn-lg"
              ><i class="bi bi-windows"></i><br />
              CRM DESKTOP APP</a
            ><br />

            <a (click)="navigateToSms()" class="btn-dark btn"> See Features </a>
          </p></a
        >
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3">
        <a (click)="navigateToCard()">
          <p class="text-center product">
            <a (click)="navigateToCard()" class="btn btn-lg"
              ><i class="bi bi-windows"></i><br />
              <span class="text-primary">FREE </span> CARD GENERATOR</a
            ><br />

            <a (click)="navigateToCard()" class="btn-dark btn">
              See Features
            </a>
          </p></a
        >
      </div>
    </div>
    <div class="col-md-3 d-none">
      <div class="p-3">
        <a href="">
          <p class="text-center product">
            <a href="" class="btn btn-lg"
              ><i class="bi bi-database-fill-lock"></i><br />
              SCHOOL PORTAL</a
            >
            <br />
            <a href="" class="btn-dark btn"> LOGIN </a>
          </p></a
        >
      </div>
    </div>
    <div class="col-md-3 d-none">
      <div class="p-3">
        <a href="">
          <p class="text-center product">
            <a href="" class="btn btn-lg"
              ><i class="bi bi-code-slash"></i><br />
              WEB DESIGN</a
            >
            <br />
            <a href="" class="btn-dark btn"> See Prices </a>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="m-0">
  <img src="images/bg.jpg" class="img-fluid" alt="" srcset="" />
</div>
