<div class="text-danger text-center py-5 bg-black text-light">
  <h1>BIGEZO <span class=""> .COM</span></h1>
</div>
<h4 class="text-center p-3 bg-danger text-light">
  Effective Technology Solutions Tailored for you !
</h4>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="p-3">
        <a href="/academy">
          <p class="text-center product">
            <a href="/academy" class="btn btn-lg"
              ><i class="bi bi-mortarboard-fill"></i><br />
              ACADEMY</a
            ><br />

            <a href="/academy" class="btn-dark btn"> See Courses </a>
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p-3">
        <a href="">
          <p class="text-center product">
            <a href="/sms" class="btn btn-lg"
              ><i class="bi bi-windows"></i><br />
              CRM / BULK SMS</a
            ><br />

            <a href="" class="btn-dark btn"> See Features </a>
          </p></a
        >
      </div>
    </div>
    <div class="col-md-3">
      <div class="p-3">
        <a href="">
          <p class="text-center product">
            <a href="" class="btn btn-lg"
              ><i class="bi bi-database-fill-lock"></i><br />
              SCHOOL PORTAL</a
            >
            <br />
            <a href="" class="btn-dark btn"> LOGIN </a>
          </p></a
        >
      </div>
    </div>
    <div class="col-md-3">
      <div class="p-3">
        <a href="">
          <p class="text-center product">
            <a href="" class="btn btn-lg"
              ><i class="bi bi-code-slash"></i><br />
              WEB DESIGN</a
            >
            <br />
            <a href="" class="btn-dark btn"> See Prices </a>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
