<div class="text-danger text-center py-5 bg-black text-light">
  <h1>About the <span class="text-danger"> Tutor</span></h1>
  <h4 class="text-center p-3 semi-header">
    <span class="text-light">{{ typingText }}</span>
  </h4>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 row">
    <div class="col-md-4">
      <div class="m-2">
        <img
          src="images/ALFIEEE.png"
          class="img-fluid rounded-circle"
          alt=""
          srcset="" />
      </div>
    </div>
    <div class="col-md-8 py-5">
      <div class="m-2">
        <p class="p-3 tutor">
          Alfred started his pursuit for Technology & Design prowess in
          Namilyango College, scoring 3AAAA in the National Exams (UACE -
          Physics, Chemistry, Mathematics & Fine Art), emerging the best in
          2011. Since then he has had rigorous training, great experience and
          cumulative expertise in computer knowledge. He has also had thorough
          training in diverse technologies & computer programming from the
          leading institutions & companies like Makerere University, IBM,
          Oracle, HiPipo, Mojaloop fintech foundation, LinkedIn Premium, NSSF
          Hi-Innovator business training, DFSLab, etc. He started Computer
          programming as early as his second year at Makerere University in
          2014; programming robotic electronic systems at i-Labs. In 2015-2016,
          He wrote MATLAB code to optimize deployment of heterogeneous small
          base stations for internet connectivity at Makerere University. He
          then embarked on Web and Software Development. Alfred has also
          undergone hands-on training in Cross-Platform Mobile App Development
          using Flutter, from the Innovation Village & Soltech technologies -
          powered by MasterCard. In addition to the tech stack, Alfred has
          worked for over 12 years in the professional Graphic Design
          environment in leading firms in Uganda, starting from Monitor
          Publications as an editorial cartoonist in 2012. He is passionate
          about passing on knowledge.
        </p>
        <div class="row">
          <div class="col-md-4">
            <div class="m-1 hireweb">
              <div class="text-center">
                <p class="m-0 p-0">
                  <span class="text-center bi bi-code"></span>
                </p>
                Simple Web Development
                <p class="text-center mt-1">
                  <a
                    href="https://api.whatsapp.com/send?phone=+256773913902&text=Simple%20Web!"
                    class="btn btn-success"
                    ><i class="bi bi-whatsapp"></i> Contact me
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="m-1 hireadvanced">
              <div class="text-center">
                <p class="m-0 p-0">
                  <span class="text-center bi bi-code"></span>
                </p>
                Advanced Web Development
                <p class="text-center mt-1">
                  <a
                    href="https://api.whatsapp.com/send?phone=+256773913902&text=Advanced%20Web!"
                    class="btn btn-success"
                    ><i class="bi bi-whatsapp"></i> Contact me
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="m-1 hiregraphic">
              <div class="text-center">
                <p class="m-0 p-0">
                  <span class="text-center bi bi-pen"></span>
                </p>
                Company Profile/ Annual Report
                <p class="text-center mt-1">
                  <a
                    href="https://api.whatsapp.com/send?phone=+256773913902&text=Company%20Branding!"
                    class="btn btn-success"
                    ><i class="bi bi-whatsapp"></i> Contact me
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <p class="p-3">
          <a (click)="whatsappme()" class="btn btn-success m-1 d-none">
            <i class="bi bi-arrow-up"></i> Hire Me</a
          >
          <button class="btn btn-dark m-1" (click)="navigateToHome()">
            See Courses
          </button>
        </p>

        <div class="container">
          <div class="row mb-5">
            <div class="four col-md-4">
              <div class="rounded counter-box m-1 p-3 shadow">
                <h2 class="display-3 text-center">
                  <span class="counter text-dark">50+</span>
                </h2>
                <h4 class="text-center">
                  <span class="text-danger">Students</span> Taught.
                </h4>
              </div>
            </div>
            <div class="four col-md-4">
              <div class="rounded counter-box m-1 p-3 shadow">
                <h2 class="display-3 text-center">
                  <span class="counter text-dark">12+</span>
                </h2>
                <h4 class="text-center">
                  <span class="text-danger">Years </span> of Experience.
                </h4>
              </div>
            </div>
            <div class="four col-md-4">
              <div class="rounded counter-box m-1 p-3 shadow">
                <h2 class="display-3 text-center">
                  <span class="counter text-dark">700+</span>
                </h2>
                <h4 class="text-center">
                  <span class="text-danger">Works </span> Created.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
