<div class="m-0 p-0">
  <div class="m-0">
    <div class="container-fluid bg-black text-center px-4 py-5">
      <div class="row align-items-center py-5">
        <div class="container-fluid text-center text-lg-start">
          <h2 class="display-1 fw-bold lh-1 text-center text-light mb-3">
            CRM <span class="text-danger">Software</span>
          </h2>
          <p class="text-center text-light">- connect with your customers -</p>
          <h2 class="display-3 fw-bold lh-1 text-center text-light mb-3">
            99%<span class="text-danger">Efficient</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="container-fluid my-3 row" id="products">
      <div class="col-md-6 mb-5">
        <div class="p-3 shadow m-lg-3">
          <div class="feature col">
            <h1 class="text-black fs-2 mb-3 text-center">
              <span class="bi bi-chat-dots-fill"></span>
            </h1>
            <h3 class="package fw-bold text-dark text-center">STANDARD</h3>
            <h2 class="price">UgX 1.2M <small>One-off</small></h2>
            <p class="text-center text-danger">
              <small>UgX 200,000 Annual Maintenance Fee</small>
            </p>

            <ul class="features ul">
              <!--------------<li class="fw-bold text-center py-3 " id="specialoffer">
                  <h3>SPECIAL OFFER</h3>
                Till 31-Dec 2023  <span class="">UGX 1,050,000</span>
                </li>
        -->
              <li>
                <span class="bi bi-check-circle-fill"></span> Initial airtime to
                send 5,000 SMS
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Store your
                clients’ database offline for quick access.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Back up your
                clients’ database online for data safety.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Data security with
                password protection.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Send SMS to a
                particular client.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Send Bulk SMS to
                thousands of recipients of a specific category of your choice.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Attach recipient’s
                name to each SMS.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> SMS airtime is low
                cost (UgX 35/SMS).
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Send up to 100
                emails daily
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Add, Edit, Delete
                client’s details
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Bulk import client
                data from an Excel file
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Useful Data
                Analytics.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Access to system
                updates.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Installations &
                Excellent Technical Support.
              </li>
              <li>
                <a
                  href="https://api.whatsapp.com/send?phone=+256773913902&text=Hello Bigezo Support Team"
                  class="btn btn-secondary m-1"
                >
                  Book a FREE Demo
                  <span class="bi bi-chevron-right"></span>
                </a>
                <a
                  href="https://api.whatsapp.com/send?phone=+256773913902&text=Hello Bigezo Support Team"
                  class="btn btn-danger m-1"
                >
                  BUY
                  <span class="bi bi-chevron-right"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="p-3 shadow m-lg-3">
          <div class="feature col">
            <h1 class="text-black fs-2 mb-3 text-center">
              <span class="bi bi-gem"></span>
            </h1>
            <h3 class="package text-danger fw-bold text-center">PREMIUM</h3>
            <h2 class="price">USD 5,000 <small>- One off</small></h2>
            <p class="text-center text-danger">
              <small>USD 1,000 Annual Maintenance Fee</small>
            </p>

            <h2 class="text-center deluxe-icons">
              <a href="" class="btn">
                <span class="text-success bi bi-whatsapp"></span>
              </a>
              <a href="" class="btn">
                <span class="text-danger bi bi-envelope-at-fill"></span>
              </a>
            </h2>

            <ul class="features ul">
              <li class="fw-bold">
                All the Standard features <span class="text-danger">+PLUS</span>
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Send Bulk Whatsapp
                messages to over 10,000 inboxes at once. (UgX 200/ message)
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Initial Credit to
                send 20,000 whatsapp messages
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Initial Credit to
                send 20,000 SMS messages
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Provision to
                attach image/video/document to the message.
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Get an official
                registered Whatsapp Number with Meta
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Register your
                business with Meta
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> 100GB Online
                Storage Space
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Google Cloud
                Database to store over 100,000 contacts
              </li>
              <li>
                <span class="bi bi-check-circle-fill"></span> Send over 1,000
                bulk customized emails per day.
              </li>
              <li>
                <a
                  href="https://api.whatsapp.com/send?phone=+256773913902&text=Hello Bigezo Support Team"
                  class="btn btn-secondary m-1"
                >
                  Book a FREE Demo
                  <span class="bi bi-chevron-right"></span>
                </a>
                <a
                  href="https://api.whatsapp.com/send?phone=+256773913902&text=Hello Bigezo Support Team"
                  class="btn btn-danger m-1"
                >
                  BUY
                  <span class="bi bi-chevron-right"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
