<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark m-0"
  aria-label=" navbar example"
>
  <div class="container-fluid m-0">
    <a class="navbar-brand" href="/">BIGEZO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample07"
      aria-controls="navbarsExample07"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample07" style="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Free-Downloads</a>
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Products</a
          >
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/academy">Academy</a></li>
            <li><a class="dropdown-item" href="/sms">CRM / BULK SMS</a></li>
            <li><a class="dropdown-item" href="#">SCHOOL PORTAL</a></li>
            <li><a class="dropdown-item" href="#">Web Development</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-light m-1 me-5" aria-current="page" href="/signup"
            >Signup</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-primary m-1" aria-current="page" href="/login"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
