<div class="row bg">
  <div *ngFor="let course of courses" class="col-md-3">
    <a (click)="viewDetails(course.CourseId)">
      <div>
        <div class="m-3 shadow">
          <img src="{{ course.Image }}" class="img-fluid" alt="" />
          <div class="course-text bg-light">
            <table>
              <tr>
                <td><h6 class="fw-normal text-dark text-right">TITLE :</h6></td>
                <td>
                  <h6 class="fw-bold text-dark text-uppercase">
                    <span class="">{{ course.Title }}</span>
                  </h6>
                </td>
              </tr>
              <tr>
                <td><h6 class="fw-normal text-dark text-right">COST :</h6></td>
                <td>
                  <h6 class="fw-bold text-danger text-uppercase">
                    <span class="">{{ course.Price }}</span>
                  </h6>
                </td>
              </tr>
            </table>
            <p class="p-3 text-center">
              <button
                class="btn btn-dark ps-5 pe-5 m-1"
                (click)="viewDetails(course.CourseId)"
              >
                See Details/ Apply
              </button>
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
