.createbtn {
  background-color: rgb(166, 0, 0);
  font-size: 20px;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}
.downloadbtn {
  background-color: rgb(68, 68, 68);
  font-size: 20px;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}
.canvassection {
  margin: 0 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.output {
  margin: 5px;
}
.imagepagetitle {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: #ff2525;
  background-color: #000000;
  font-weight: 400;
  border-top: 2px solid #5d5d5d;
  margin: 0;
}
.choosefile {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.image-wrapper {
  text-align: center;
  margin-bottom: 15px;
}

.image-wrapper img {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.image-wrapper img.selected {
  border-color: #ff0000; /* Blue border for selected image */
}

.image-checkbox {
  margin-right: 5px;
}

.selected-info {
  text-align: center;
  margin-top: 10px;
}
.form-control {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  border-bottom: 2px solid #484014;
}
select,
option {
  background-color: #000000 !important;
  color: rgb(255, 255, 255);
}
select option {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #ffffff;
}
::placeholder {
  color: #fcdb1e;
  font-size: 16px;
}
.outputtext {
  color: #fcdb1e;
  background-color: rgba(62, 62, 62, 0.3);
  padding: 10px;
  text-transform: capitalize;
  border-radius: 5px;
}
