<h1 class="imagepagetitle">Write text on any image</h1>
<div class="p-3 p-md-5 p-lg-5 text-center bg-black m-0">
  <div class="row">
    <div class="col-md-6">
      <div class="image-creator">
        <div *ngFor="let input of textInputs; let i = index" class="mb-3">
          <textarea
            class="form-control mb-1"
            [(ngModel)]="input.text"
            placeholder="Enter text here"
          ></textarea>
          <select [(ngModel)]="input.color" class="form-control mb-1">
            <option *ngFor="let color of textColors" [value]="color.value">
              {{ color.name }}
            </option>
          </select>
          <select [(ngModel)]="input.size" class="form-control mb-3">
            <option *ngFor="let size of textSizes" [value]="size.value">
              {{ size.name }}
            </option>
          </select>
        </div>

        <button class="btn btn-secondary mb-3" (click)="addTextInput()">
          Add Text
        </button>

        <div class="background-images">
          <p class="text-center choosefile my-3">
            <input
              class="upload"
              type="file"
              (change)="onImageUpload($event)"
            />
          </p>
          <h3 class="p3 text-center">Or Select Background</h3>
          <div class="row">
            <div class="col-md-2" *ngIf="!selectedBackground && !uploadedImage">
              <div class="m-1" *ngFor="let bgImage of backgroundImages">
                <div class="image-wrapper">
                  <input
                    type="checkbox"
                    class="image-checkbox"
                    [checked]="bgImage === selectedBackground"
                    (change)="selectBackground(bgImage)"
                  />
                  <img
                    class="img-fluid"
                    [src]="bgImage"
                    (click)="selectBackground(bgImage)"
                    [class.selected]="bgImage === selectedBackground"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="selectedBackground || uploadedImage">
              <div>
                <div class="image-wrapper">
                  <img
                    class="img-fluid"
                    [src]="selectedBackground || uploadedImage"
                    class="selected"
                  />
                  <div class="selected-info">
                    <input
                      type="checkbox"
                      class="image-checkbox"
                      [checked]="true"
                      disabled
                    />
                    <button class="btn btn-secondary" (click)="deselectImage()">
                      Choose another image
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="p-3">
          <button class="btn createbtn" (click)="createImage()">
            Create <i class="bi bi-arrow-right"></i>
          </button>
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <h3 class="text-warning">The Output will be shown here</h3>
      <div class="canvassection">
        <div class="output">
          <canvas class="img-fluid" #canvasElement></canvas>
        </div>
        <p class="p-3">
          <button
            class="btn downloadbtn"
            *ngIf="imageDataUrl"
            (click)="downloadImage()"
          >
            Download Image <i class="bi bi-arrow-down"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
