.testimonial {
  background: #ffca52;
  padding: 4em 3em;
  display: flex;
  align-items: flex-end;
  position: relative;

  position: relative;

  .quote {
    position: absolute;
    font-size: 3em;
    width: 40px;
    height: 40px;
    background: navy;
    color: #fff;
    text-align: center;
    line-height: 1.25;
    &.open {
      top: 0;
      left: 0;
    }
    &.close {
      bottom: 0;
      right: 0;
    }
  }
  p {
    width: 60%;
    display: inline-block;
    font-size: 16px;
  }
  .source {
    width: 40%;
    height: 100%;
    span {
      display: inline-block;
      font-weight: bold;
      font-size: 16px;
      text-align: left !important;
      color: #010c85;
      &:before {
        content: "\2014";
        display: inline;
      }
    }
  }
  .source i {
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    text-align: left !important;
    &:before {
      content: "\2014";
      display: inline;
    }
  }
  .image {
    width: 120px;
    transform: rotate(-5deg);
    position: absolute;
    top: -20px;
    right: -15px;
    img {
      border: 10px solid #fff;
      margin: 0;
      padding: 0;
    }
    .clip {
      border: 2px solid #222;
      border-right: none;
      height: 75px;
      width: 20px;
      position: absolute;
      right: 30%;
      top: -15%;
      border-radius: 25px;
      &:before {
        content: "";
        position: absolute;
        top: -1px;
        right: 0;
        height: 10px;
        width: 16px;
        border: 2px solid #222;
        border-bottom: none;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        z-index: 99;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        height: 40px;
        width: 16px;
        border: 2px solid #222;
        border-top: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        z-index: 99;
      }
    }
  }
}

.counter-box {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}
.counter-box h2 {
  font-weight: bold;
}
