<div class="p-3"></div>

<h1 class="py-5 text-center display-1 fw-bold">What former students say</h1>
<div class="container">
  <div class="row mb-5">
    <div class="four col-md-3"></div>
    <div class="four col-md-3">
      <div class="rounded counter-box m-1 bg-grey text-light">
        <h2 class="display-3"><span class="counter text-dark">50+</span></h2>
        <p class="text-dark">Students</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="rounded counter-box m-1 bg-grey text-light">
        <h2 class="display-3">
          <span class="counter text-dark">12+</span>
        </h2>
        <p class="text-dark">Years of Experience</p>
      </div>
    </div>
    <div class="four col-md-3"></div>
  </div>
</div>

<div class="container mb-5" id="reviews">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="testimonial m-3">
        <span class="open quote">“</span>
        <div class="image">
          <div class="clip"></div>
          <img src="images/students/bruno.jpg" class="img-fluid" />
        </div>
        <p>
          It is a great feeling when I can imagine a design and at the same time
          able to bring it to a reality!. I liked the fact that Tutor Alfred
          taught us from first principles and in a "tell, show, do, apply"
          manner.
          <span class="d-none"
            >I wholeheartedly recommend www.bigezo.com to anyone interested in
            graphic design or simply looking to absorb valuable knowledge to
            enhance their beautiful lives. This programmer has been a life-
            changing experience and I can't wait to see where my newfound skills
            will take me in the world of Graphics design.</span
          >
        </p>
        <div class="source">
          <span>Dr. Bruno K.</span><br />
          <i>Professional Dentist</i>
        </div>
        <span class="close quote">”</span>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="testimonial m-3">
        <span class="open quote">“</span>
        <div class="image">
          <div class="clip"></div>
          <img src="images/students/edward.jpg" class="img-fluid" />
        </div>
        <p>
          Your unwavering dedication, expertise, and creative guidance have been
          instrumental in nurturing my design skills and I am so proud to say
          that the concepts in my mind can now be put into existence. Your
          ability to explain complex concepts in a clear and engaging manner,
          making each class a source of inspiration.
          <span class="d-none"
            >our passion for design is contagious, and I am grateful for the
            countless valuable insights I've gained under your mentorship and
            giving us some take home quotes for graphics such as Less is more in
            graphics ,😁Thats part of my DNA now . I hope that I will gain more
            confidence in my abilities as I practice . I am truly fortunate to
            have had such an inspiring teacher who has played a pivotal role in
            shaping my creative journey God bless you And sorry for not always
            doing the assignments in time but you were still not very mad at me
            and that made class a comfortable place.</span
          >
        </p>
        <div class="source">
          <span>Dr. Edward</span><br />
          <i
            >CEO,
            <a href="https://routinedentalmed.com/" target="_blank"
              >Routine Dental Supplies</a
            ></i
          >
        </div>
        <span class="close quote">”</span>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="testimonial m-3">
        <span class="open quote">“</span>
        <div class="image">
          <div class="clip"></div>
          <img src="images/students/ruth.jpg" class="img-fluid" />
        </div>
        <p>
          The opportunity to learn graphic designing was a beautiful way to
          start my year. Am always excited about creating something new,
          something I thought was hard, now am able to do. The class has as well
          challenged my way of life. Am now more committed and diligent to
          tasks. Also as a medic am glad that I won't have to look at patients
          all the time.
          <span class="d-none">...</span>
        </p>
        <div class="source">
          <span>Birungi Ruth</span><br />
          <i>Student</i>
        </div>
        <span class="close quote">”</span>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="testimonial m-3">
        <span class="open quote">“</span>
        <div class="image">
          <div class="clip"></div>
          <img src="images/students/rosanne.jpg" class="img-fluid" />
        </div>
        <p>
          This class was a wonderful opportunity and very helpful. I learnt alot
          and believe i will benefit alot from the knowledge acquired
          <span class="d-none">...</span>
        </p>
        <div class="source">
          <span>Rosanne</span><br />
          <i>Student</i>
        </div>
        <span class="close quote">”</span>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="testimonial m-3">
        <span class="open quote">“</span>
        <div class="image">
          <div class="clip"></div>
          <img src="images/students/noel.jpg" class="img-fluid" />
        </div>
        <p>
          The graphics design course is one of my answered prayers in 2024 , for
          long I have been struggling to create flyers and edit photos using my
          phone apps that turns to be so hectic and poor quality. The course has
          been so smooth because teacher Alfred delivered the content in the
          simplest way possible to understand and grasp.
          <span class="d-none">...</span>
        </p>
        <div class="source">
          <span>Noel A. Dagi</span><br />
          <i>Farmer</i>
        </div>
        <span class="close quote">”</span>
      </div>
    </div>
  </div>
</div>
