<div class="text-danger text-center py-5 bg-black text-light">
  <h1>BIGEZO <span class="text-danger"> ACADEMY</span></h1>
  <h4 class="text-center p-3 semi-header">
    <span class="text-red">LIVE </span> ONLINE CLASSES
  </h4>
</div>

<div class="container-fluid">
  <h1 class="py-5 text-center about-tutor">COURSES</h1>
  <app-courses></app-courses>
</div>
<div class="row bg-light">
  <div class="col-md-4">
    <div class="m-2">
      <img src="images/ALFIEEE.png" class="img-fluid" alt="" srcset="" />
    </div>
  </div>
  <div class="col-md-8">
    <div class="m-2">
      <h1 class="about-tutor">About the Tutor</h1>
      <p class="p-3 tutor">
        I started my pursuit for technology prowess in Namilyango College,
        scoring 3AAAA in PCM/Art, emerging the best in 2011. Since then I have
        had rigorous training, great experience and cumulative expertise in
        computer knowledge. I have also had thorough training in diverse
        technologies & computer programming from the leading institutions &
        companies like Makerere University, IBM, Oracle, HiPipo, Mojaloop
        fintech foundation, LinkedIn Premium, NSSF Hi-Innovator business
        training, DFSLab, etc. I started Computer programming as early as my
        second year at Makerere University in 2014; programming robotic
        electronic systems at i-Labs. In 2015-2016, I wrote MATLAB code to
        optimize deployment of heterogeneous small base stations for internet
        connectivity at Makerere University. I then embarked on Web and Software
        Development. I have also had a 4-months daily hands-on training in
        Cross-Platform Mobile App Development using Flutter, from the Innovation
        Village & Soltech technologies - powered by MasterCard. Over the years,
        I have built a rich experience and social network of seasoned software
        developers & skilled personnel.
      </p>
      <p class="p-3">
        <a href="" class="btn btn-lg btn-danger">SEE COURSES</a>
      </p>
    </div>
  </div>
</div>
